@page "/user"

@using Oyang.Identity.Application.User
@using Oyang.Identity.Application.User.Dtos
@inject IJSRuntime JSRuntime;
@inject NotifierService NotifierService
@inject IUserAppService UserAppService

<h3>用户管理</h3>

@if (oyGridViewPagination == null)
{
    <p><em>Loading...</em></p>
}
else
{
<form class="form-inline mb-2">
    <div class="input-group mr-2">
        <div class="input-group-prepend">
            <span class="input-group-text">@nameof(UserDto.LoginName)</span>
        </div>
        <input type="text" class="form-control" @bind="getListInputDto.LoginName">
    </div>
    <button type="button" class="btn btn-primary mr-2" @onclick="GetList">查找</button>
    <button type="button" class="btn btn-secondary mr-2" @onclick="AddModalShow">新增</button>
    <button type="button" class="btn btn-secondary mr-2" @onclick="ModalOk">ok</button>
    <button type="button" class="btn btn-secondary mr-2" @onclick="ModalCancel">cancel</button>
</form>
    <OyGridViewTemplate OyGridViewHeaderItems="oyGridViewHeaderItems" OyGridViewPagination="oyGridViewPagination">
        <OyGridViewRowTemplate>
            <td>@context.Id</td>
            <td>@context.LoginName</td>
            <td>@context.PasswordHash</td>
            <td>@context.NickName</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="@(" dropdownMenuButton"+context.Id)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        操作
                    </button>
                    <div class="dropdown-menu" aria-labelledby="@(" dropdownMenuButton"+context.Id)">
                        <a class="dropdown-item" href="javascript:void(0);" @onclick="e => Edit(context.Id)">编辑</a>
                        <a class="dropdown-item" href="javascript:void(0);">删除</a>
                        <a class="dropdown-item" href="javascript:void(0);">重置密码</a>
                    </div>
                </div>
            </td>
        </OyGridViewRowTemplate>
    </OyGridViewTemplate>


    <OyModalTemplate Title="新增" ModalId="addModal">
        <OyModalBodyTemplate>
            新增页面
        </OyModalBodyTemplate>
    </OyModalTemplate>
}

@code {
    private List<OyGridViewHeaderItem> oyGridViewHeaderItems;
    private GetListInputDto getListInputDto;
    private OyGridViewPagination<UserDto> oyGridViewPagination;


    protected override void OnInitialized()
    {
        oyGridViewHeaderItems = new List<OyGridViewHeaderItem>()
        {
            new OyGridViewHeaderItem(nameof(UserDto.Id), nameof(UserDto.Id), false),
            new OyGridViewHeaderItem(nameof(UserDto.LoginName), nameof(UserDto.LoginName), true),
            new OyGridViewHeaderItem(nameof(UserDto.PasswordHash), nameof(UserDto.PasswordHash), true),
            new OyGridViewHeaderItem(nameof(UserDto.NickName), nameof(UserDto.NickName), false),
            new OyGridViewHeaderItem(null,null, false),
        };
        getListInputDto = new GetListInputDto() { PageIndex = 1, PageSize = 10, IsAscending = true, SortField = "Id" };
        oyGridViewPagination = new OyGridViewPagination<UserDto>(getListInputDto);
        oyGridViewPagination.PaginationChangeEvent += GetList;


        GetList();
    }

    private void GetList()
    {
        var pagination = UserAppService.GetList(getListInputDto);
        oyGridViewPagination.BindPagination(pagination);
    }

    private void AddModalShow()
    {
        JSRuntime.ModalShow("addModal");
    }

    private void ModalOk()
    {
        NotifierService.ModalOk();
    }
    private void ModalCancel()
    {
        NotifierService.ModalCancel();
    }

    private void Edit(Guid id)
    {
        JSRuntime.InvokeVoidAsync("alert", id);
    }
}
