@page "/user"

@using Oyang.Identity.Application.User
@using Oyang.Identity.Application.User.Dtos
@inject IJSRuntime JSRuntime;
@inject NotifierService NotifierService
@inject IUserAppService UserAppService

<h3>用户管理</h3>

@if (_oyDataGridPagination.IsLoading)
{
    <p><em>Loading...</em></p>
    @*<div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>*@
}
else
{
    <form class="form-inline mb-2">
        <div class="input-group mr-2">
            <div class="input-group-prepend">
                <span class="input-group-text">@nameof(UserDto.LoginName)</span>
            </div>
            <input type="text" class="form-control" @bind="_getListInputDto.LoginName">
        </div>
        <button type="button" class="btn btn-primary mr-2" @onclick="GetList">查找</button>
        <button type="button" class="btn btn-secondary mr-2" @onclick="AddModal">新增</button>
    </form>

    <OyDataGridTemplate OyDataGridPagination="_oyDataGridPagination">
        <OyDataGridRowTemplate>
            <td>@context.Id</td>
            <td>@context.LoginName</td>
            <td>@context.NickName</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="@("dropdownMenuButton"+context.Id)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        操作
                    </button>
                    <div class="dropdown-menu" aria-labelledby="@("dropdownMenuButton"+context.Id)">
                        <a class="dropdown-item" href="javascript:void(0);" @onclick="e => Edit(context.Id)">编辑</a>
                        <a class="dropdown-item" href="javascript:void(0);">删除</a>
                        <a class="dropdown-item" href="javascript:void(0);">重置密码</a>
                    </div>
                </div>
            </td>
        </OyDataGridRowTemplate>
    </OyDataGridTemplate>


    @*<OyModalTemplate Title="新增" ModalId="addModal">
            <OyModalBodyTemplate>
                <form>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">@nameof(UserDto.LoginName)</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" @bind="@addInputDto.LoginName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">@nameof(UserDto.NickName)</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" @bind="@addInputDto.NickName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" @bind="@addInputDto.Password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Password2</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" @bind="@addInputDto.Password2">
                        </div>
                    </div>
                </form>
            </OyModalBodyTemplate>
        </OyModalTemplate>*@
}

@code {
    private GetListInputDto _getListInputDto;
    private OyDataGridPagination<UserDto> _oyDataGridPagination;

    private AddInputDto addInputDto;

    protected override void OnInitialized()
    {
        var oyDataGridHeaderItems = new List<OyDataGridHeaderItem>()
    {
            new OyDataGridHeaderItem(nameof(UserDto.Id), nameof(UserDto.Id), false),
            new OyDataGridHeaderItem(nameof(UserDto.LoginName), nameof(UserDto.LoginName), true),
            new OyDataGridHeaderItem(nameof(UserDto.NickName), nameof(UserDto.NickName), false),
            new OyDataGridHeaderItem(null,null, false),
        };
        _getListInputDto = new GetListInputDto() { PageIndex = 1, PageSize = 10, IsAscending = true, SortField = "Id" };
        _oyDataGridPagination = new OyDataGridPagination<UserDto>(oyDataGridHeaderItems, _getListInputDto);
        _oyDataGridPagination.PaginationChangeEvent += GetList;

        GetList();
    }

    private void GetList()
    {
        var pagination = UserAppService.GetList(_getListInputDto);
        _oyDataGridPagination.BindPagination(pagination);
    }

    private void AddModal()
    {
        JSRuntime.ModalShow("addModal");
    }

    private bool Add()
    {
        UserAppService.Add(addInputDto);
        return true;
    }


    private void Edit(Guid id)
    {
        JSRuntime.InvokeVoidAsync("alert", id);
    }
}
