@typeparam TItem

@using Oyang.Identity.BlazorApp.Model
@using Oyang.Identity.Domain

<table class="table">
    <thead>
        <tr>
            <th>No.</th>
            @foreach (var item in OyGridViewHeaderItems)
            {
                if (item.AllowSort)
                {
                    <th @onclick="()=>OyGridViewPagination.OnSortChange(item.ColumnName)">@item.DisplayName @OyGridViewPagination.GetSortIcon(item.ColumnName)</th>
                }
                else
                {
                    <th>@item.DisplayName</th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in OyGridViewPagination.Items)
        {
            <tr>
                <td>@(index++)</td>
                @OyGridViewRowTemplate(item)
            </tr>
        }
    </tbody>
</table>
<div class="form-row align-items-center justify-content-end mb-2">
    <div class="col-auto">
        共 @OyGridViewPagination.TotalCount 条数据
    </div>
    <div class="col-auto">
        <nav aria-label="Page navigation example">
            <ul class="pagination" style="margin-bottom:unset;">
                @if (OyGridViewPagination.HasPrevious)
                {
                    <li class="page-item"><a class="page-link" href="javascript:void(0);" @onclick="@(e => OyGridViewPagination.OnPageIndexChange(1))">&lt;&lt;</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);" @onclick="@(e => OyGridViewPagination.OnPageIndexChange(OyGridViewPagination.PageIndex - 1))">&lt;</a></li>
                }
                @foreach (var item in OyGridViewPagination.Buttons)
                {
                    <li class="page-item @(item == OyGridViewPagination.PageIndex ? "active":"")">
                        <a class="page-link" href="javascript:void(0);" @onclick="@(e => OyGridViewPagination.OnPageIndexChange(item))">@item</a>
                    </li>
                }
                @if (OyGridViewPagination.HasNext)
                {
                    <li class="page-item"><a class="page-link" href="javascript:void(0);" @onclick="@(e => OyGridViewPagination.OnPageIndexChange(OyGridViewPagination.PageIndex + 1))">&gt;</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);" @onclick="@(e => OyGridViewPagination.OnPageIndexChange(OyGridViewPagination.PageCount))">&gt;&gt;</a></li>
                }
            </ul>
        </nav>
    </div>
    <div class="col-auto">
        <select class="form-control" style="width:auto;" value="@OyGridViewPagination.Pagination.PageSize" @onchange="@(e => OyGridViewPagination.OnPageSizeChange(Convert.ToInt32(e.Value)))">
            @foreach (var item in OyGridViewPagination.NumberOfPages)
            {
                if (OyGridViewPagination.PageSize == item)
                {
                    <option value="@item" selected>@item 条/页</option>
                }
                else
                {
                    <option value="@item">@item 条/页</option>
                }
            }
        </select>
    </div>
</div>


@code {
    [Parameter]
    public RenderFragment<TItem> OyGridViewRowTemplate { get; set; }

    [Parameter]
    public List<OyGridViewHeaderItem> OyGridViewHeaderItems { get; set; }

    [Parameter]
    public OyGridViewPagination<TItem> OyGridViewPagination { get; set; }

    private int index = 1;
    protected override void OnInitialized()
    {
        OyGridViewPagination.PaginationChange += () => index = 1;
    }
}
